* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Circular', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

.home-container {
  background-color: black;
  padding: 10px;
  display: flex;
  height: 100vh;
  gap: 10px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto 1fr auto;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}